.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.grid > div{
    height: 20px;
}
.gi-1{
    background-color: blueviolet;
}
.gi-2{
    background-color: rgb(101, 226, 43);
    grid-column-start: 2;
    grid-column-end: 4;
}
.gi-3{
    background-color: rgb(226, 147, 43);
}
.gi-4{
    background-color: rgb(226, 43, 43);
}
.gi-5{
    background-color: rgb(43, 226, 226);
}
.gi-6{
    background-color: rgb(226, 43, 89);
}
.gi-7{
    background-color: rgb(186, 226, 43);
}