$gray-bg:#555;
$text-white:white;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    background-color: $gray-bg;
    height: 50px;
}
.nav{
    background-color: $gray-bg;
    list-style-type: none;
    & .nav-item{
        float: left;
        background-color: inherit;
        & .nav-link{
            display: block;
            text-decoration: none;
            color: $text-white;font-size: 20px;
            padding: 14px 16px;
        }
        & .nav-link:hover{
            background-color: rgb(150, 150, 150);
        }
    }
}

.header{
    display: flex;
    flex-direction: row;
    // justify-content: ;
    background: $gray-bg;
    & .nav-flex{
        display: flex;
        list-style-type: none;
        & .nav-flex-item{
            position: relative;
            // padding: 14px 16px;
            & .nav-link-flex{
                display: block;
                text-decoration: none;
                color: $text-white;
                padding: 14px 16px;
            }
            & .nav-link-flex:hover{
                background-color: green;
                 
            }

           
            & > .submenu{
                position: absolute;
                min-width: 100%;
                background: $gray-bg;
                list-style-type: none;
                color: $text-white;
                display: none;
            }
            & .submenu{
                & .sub-item{
                    position: relative;
                    & .link{
                        display: block;
                        padding: 3px 5px;
                    }
                    & .link:hover{
                        background-color: green;
                    }
                    & .submenu{
                        display: none;
                        background: $gray-bg;
                        list-style-type: none;
                        position: absolute;
                        min-width: 100%;
                        left:100%;
                        top: 0;   
                    }
                    & .submenu::after{
                        content: '\f105';
                    }
                }
                
                & .sub-item:hover > .submenu{
                    display: block;
                }
            }
        }
        & .nav-flex-item:hover > .submenu{
            display: block;
        }
    }
    & .branding{
        height: 50px;
        width: 50px;
        & .logo{
            

            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.imgbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    // align-items: ;
    & .imgcon{
        width: 300px;
        height: 300px;
        & img{
            width: 100%;
            height: 100%;
        }
    }
}

.hero{
    width: 100%;
    height: 300px;
    & .imgcon{
        width: 100%;
        height: 100%;
        & img{
            height: 100%;
            width: 100%;
        }
        // clip-path:  polygon(0 0, 100% 0%, 100% 70% ,87% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 78% 22%, 46% 100%, 23% 28%, 0% 75%);

    }

}
// https://bennettfeely.com/clippy/