.container{
    max-width: 1300px;
    margin: auto 15%;
}
.title{
    text-align: center;
}
.option-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.option-container div{
    height: 200px;
    width: 200px;

}
#r,#p,#s{
    cursor: pointer;
}
.option-container div > img{
    width: 100%;
    height: 100%;
}
#r:hover{
    box-shadow: 0 0 20px 5px #ff6262 ;
}
#p:hover{
    box-shadow: 0 0 20px 5px #62ff72;
}
#s:hover{
    box-shadow: 0 0 20px 5px #ff6287;
}
