@font-face {
    font-family: ali;
    src: url(MonteCarlo/MonteCarlo-Regular.ttf) format('truetype');
}
@font-face {
    font-family: aliscr;
    src: url(StyleScript/StyleScript-Regular.ttf) format('truetype');
}