.st1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-variant: small-caps;

}
.st2{
/* font-style font-varient font-weight fontsize/line-height font-family */
    font: normal small-caps 500 20px/26px sans-serif;
}
.st3{}


table{
    width: 100%;
    border-collapse: collapse;

}
td,th{
    border: 1px solid black;
}
.td{
    width: 40%;
    margin: 0 auto;
    overflow-x: auto;
}