*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.kc{
    font-family: myicons;
    font-style: normal;
}

.kc-lock::before{
    content: '\e003';
}

.mainbox{
    width: 600px;
    height: 500px;
    border: 2px solid;
    position: relative;
    

}

.subbox{
    width: 300px;
    height: 250px;
    border: 2px solid;
    position: absolute;
    /* z-index: -1; */
    /* bottom: 0; */

    
}
.b1{
    
    top: 0  ;
}
.b2{
    bottom: 0;
}
.b3{
    top: 0;
    right: 0
}